*{
  box-sizing: border-box;
}

.containerDark{
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, rgb(5, 5, 5), rgb(83, 82, 82));
}
.containerLight{
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, rgb(208, 215, 235), rgb(255, 255, 255));
}
  
.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 10px;
}
  
html {
    font-family: "Lucida Sans", sans-serif;
}
  
.fondo-perfil{
    width: 100%;
    height: auto;
}
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.contenedor { 
  top: 100px;
  left: 120px;
}
.up{
  position: absolute;
  z-index: 2;
  margin-left: 80px;
  margin-top: 35px;
  padding: 30px;
}
.img{
  margin: 0;
  padding: 0;
}
.codigo{
  position: absolute;
  z-index: 2;
  margin-top: 150px;
  margin-left: 110px;
  width: 450px;
  height: 320px;
  background-color: #201f1f;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
}
.lCodigo{
  margin-top: 25px;
  list-style: none;
}
.lCodigo li{
  padding-top: 7px;
  padding-left: 10px;
  padding-bottom: 0px;
}
.lCodigo span{
  padding-left: 5px;
}
.lCodigo .tap1{
  padding-left: 30px;
}
.lCodigo .tap2{
  padding-left: 60px;
}
.net{
  width: 380px;
  height: 180px;
  background-color: #6A98F0;
  margin-left: -110px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
}
.pU-codigo{
  padding-top: 15px;
  padding-left: 8px;
}
.p-codigo{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contenedor h1 {
  font-size: 45px;
  color: black;
  margin-bottom: 0%;
}
.contenedor h2 {
  font-size: 35px;
  color: #155bdd;
  margin-bottom: 20px;
}
.contenedor h1 span{
  color:#155bdd;
}
.btn {
  background-color: #6A98F0;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 115px;
  padding-right: 115px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid;
  border-color: blue;
}
.btn-curriculo:hover {
  color: #fff;
  background-color: gray;
  border-color: black;
  cursor: pointer;
}
.h4 h4{
  font-size: 20px
}
.cita{
  text-align: justify;
  font-family: cursive;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.cita p{
  padding: 20px;
}
.cita span{
  font-weight: bold;
}

.btn-check:focus + .btn-curriculo, .btn-curriculo:focus {
  color: #fff;
  background-color: gray;
  border-color: #888b91;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.5)
}
._centro{
  margin: 0px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
}
.lenguajes{
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;

}
.container-lenguajes {
  width: 250px;
  height: 150px;
  position: relative;
  margin: 0 auto 100px;
  margin-top: 20px;
  perspective: 1100px;
}
#carousel-lenguajes {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ( -288px );
  transform-style: preserve-3d;
  transition: transform 5s;
}
#carousel-lenguajes figure {
  display: block;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 10px;
  top: 10px;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}
#carousel-lenguajes figure:nth-child(1) {
  background-color: rgba(156, 189, 199, 0.9);
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  transform: rotateY( 0deg ) translateZ( 180px );
}
#carousel-lenguajes figure:nth-child(2) {
  background-color: rgba(156, 189, 199, 0.9);
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  transform: rotateY( 72deg ) translateZ( 180px );
}
#carousel-lenguajes figure:nth-child(3) {
  background-color: rgba(156, 189, 199, 0.9);
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  transform: rotateY( 144deg ) translateZ( 180px );
}
#carousel-lenguajes figure:nth-child(4) {
  background-color: rgba(156, 189, 199, 0.9);
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  transform: rotateY( 216deg ) translateZ( 180px );
}
#carousel-lenguajes figure:nth-child(5) {
  background-color: rgba(156, 189, 199, 0.9);
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  transform: rotateY( 288deg ) translateZ( 180px );
}
#carousel-lenguajes {
  animation: rotateInY 30s infinite linear;
}
@keyframes rotateInY {
0%   { transform: translateZ(-288px) rotateY(0deg);   }
100% { transform: translateZ(-288px) rotateY(360deg);    }
}


.bg-bubbles{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(19, 167, 212, 0.5);
  -webkit-animation: square 20s infinite;
  animation:         square 20s infinite; 
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
    
.bg-bubbles li:nth-child(1){
    left: 10%;
}
    
.bg-bubbles li:nth-child(2){
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}
    
.bg-bubbles li:nth-child(3){
  left: 25%;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s; 
  background-color: fade(white, 25%);
}
    
.bg-bubbles li:nth-child(5){
  left: 70%;
}
    
.bg-bubbles li:nth-child(6){
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: fade(white, 20%);
}
  
.bg-bubbles li:nth-child(7){
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
  
.bg-bubbles li:nth-child(8){
  left: 55%;
  width: 40px;
  height: 40px;
  animation-delay: 15s;
  animation-duration: 40s;
}
    
.bg-bubbles li:nth-child(9){
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: fade(white, 30%);
}
  
.bg-bubbles li:nth-child(10){
  left: 70%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-1000px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-4320px) rotate(600deg); }
}

@media screen and (max-width: 850px) {
    [class*="col-"] {
      width: 100%;
    }
    .containerDark{
      height: 800px;
    }
    .containerLight{
      height: 800px;
    }
    .contenedor h1 {
      font-size: 35px;
      margin-bottom: 0%;
    }
    .contenedor h2 {
      font-size: 25px;
      color: #155bdd;
      margin-top: 0%;
    }
    .contenedor h1 span{
      color: #155bdd;
    }
    .up{
      position: relative;
      margin-left:5px;
      margin-top: 45px;
    }
    .codigo{
      position: relative;
      margin:10px auto;
      width: 350px;
      height: 320px;
    }
    .net{
      margin-left: -17px;
    }
    .lenguajes{
      margin-top: 10px;
      padding-top: 10px;
    }
    .cita{
        margin-left: 20px;
        margin-right: 20px;
    }
    .cita p{
      padding: 10px;
    }
    .bg-bubbles li:nth-child(6){
      left: 50%;
    }
    .bg-bubbles li:nth-child(10){
      left: 30%;
    }
    @keyframes square {
      0%   { transform: translateY(0); }
      100% { transform: translateY(-6920px) rotate(600deg); }
    }
}
.ir-arriba {
  padding:10px;
  background-color: transparent;
  font-size:20px;
  color:red;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}

  
    
