.containerC {
    width: 500px;
    height: 400px;
    position: relative;
    margin: 0 auto 20px;
    perspective: 1100px;
}
.container-img{
    background-color:aliceblue;
    border-radius: 10px;
}

.img-carrusel{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    transition: all 300ms;
}
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ( -288px );
    transform-style: preserve-3d;
    transition: transform 3s;
}
.carousel__cell {
    display: block;
    position: absolute;
}

.img-carrusel:hover {
    transform: scale(1.3);
    transition: all 300ms;
    cursor: pointer;
}
.carousel__cell:nth-child(1) {
    transform: rotateY( 0deg ) translateZ( 600px );
}
.carousel__cell:nth-child(2) {
    transform: rotateY( 40deg ) translateZ( 600px );
}
.carousel__cell:nth-child(3) {
    transform: rotateY( 80deg ) translateZ( 600px );
}
.carousel__cell:nth-child(4) {
    transform: rotateY( 120deg ) translateZ( 600px );
}
.carousel__cell:nth-child(5) {
    transform: rotateY( 160deg ) translateZ( 600px );
}
.carousel__cell:nth-child(6) {
    transform: rotateY( 200deg ) translateZ( 600px );
}
.carousel__cell:nth-child(7) {
    transform: rotateY( 240deg ) translateZ( 600px );
}
.carousel__cell:nth-child(8) {
    transform: rotateY( 280deg ) translateZ( 600px );
}
.carousel__cell:nth-child(9) {
    transform: rotateY( 320deg ) translateZ( 600px );
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.btn-close{
    float: right;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.decripcion-video{
    width: 400px;
    text-align: justify;
}
.titulo-video{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}
.react-player{
    margin: 0 auto;
}



@media screen and (max-width: 850px) {
    [class*="col-"] {
        width: 100%;
      }
    .all{
        display: none;
    }
}

.ir-derecha {
    padding:10px;
    background-color: transparent;
    font-size:20px;
    color:red;
    cursor:pointer;
    margin-top: 220px;
    margin-left: 20px;
  }

  .ir-izquierda {
    padding:10px;
    background-color: transparent;
    font-size:20px;
    color:red;
    cursor:pointer;
    margin-top: 220px;
    margin-left: 20px;
    
  }




