*{
  margin: 0;
  padding: 0;
}
.carro {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section4Dark{
  background: linear-gradient(to top, rgb(5, 5, 5), rgb(155, 148, 148));
  color: white;
}

.section4Light{
  background: linear-gradient(to top, rgb(208, 215, 235), rgb(255, 255, 255));
  color: black;
}

.seperator {
  width: 100%;
}

.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0 30px
}

#section4{
  width: 90%;
  margin: 0 auto;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}


.carousel-content{
  margin: 40px auto;
  width: 900px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
}
.btn-ex{
  background-color: #6A98F0;
  color: white;
  position: relative;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid;
  border-color: blue;

}
.img_content{
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 2px gray;
  -moz-box-shadow: 0 0 5px 2px gray;
  box-shadow: 0 0 5px 2px gray;
  margin:10px auto;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.img_{
    margin:0px auto;
    display:block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.linea-E{
  border-top: 1px solid black;
  height: 2px;
  max-width: 350px;
  padding: 0;
  margin: 20px auto 0 auto;
}
.img_content p{
  padding-top: 15px;
}
.btn-ex:hover {
  color: #fff;
  background-color: gray;
  border-color: black;
  cursor: pointer;
}
.btn-close{
  float: right;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.decripcion-video{
  width: 400px;
  text-align: justify;
}
.titulo-video{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
  text-align: center;
}
.react-player{
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .carousel-content{
    width: 250px;
    height: 1020px;
  }
  .carousel-wrapper {
    width: 100%;
    height: 300px;
  }
  
  .btn-ex{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  .decripcion-video{
    width: 300px;
    text-align: justify;
  }
}

