svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}

path{
    stroke:none; 
    fill:rgb(82, 104, 126);
}