.container svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}

.container .pathDark{
    stroke:none; 
    fill:rgba(5, 5, 5, 0.9);
}
.container .pathLight{
    stroke:none; 
    fill:rgba(19, 167, 212, 0.5);
}



@media screen and (max-width: 850px) {
    .container svg {
        top: 70px;
    }
}