.container svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}

.container path{
    stroke:none; 
    fill:rgba(19, 167, 212, 0.7);
}

@media screen and (max-width: 850px) {
    .container svg {
        top: 70px;
    }
}