.footerpageDark {
    text-align: center;
    padding: 3px;
    background: linear-gradient(to bottom, rgb(83, 82, 82), rgb(5, 5, 5));
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.footerpageLight{
    text-align: center;
    padding: 3px;
    background: linear-gradient(to top, rgb(131, 159, 235), rgb(255, 255, 255));
    color: black;
    text-shadow: 0.1em 0.1em 0.2em white;
}

.fondo-btn-f{
    background-image:url('/public/img/facebook.png');
    background-repeat:no-repeat;
    background-position:center;
    border-radius:10px;
}
.fondo-btn-i{
    background-image:url('/public/img/instagram.png');
    background-repeat:no-repeat;
    background-position:center;
    border-radius:10px;
}
.fondo-btn-l{
    background-image:url('/public/img/linkedin.png');
    background-repeat:no-repeat;
    background-position:center;
    border-radius:10px;
}
.fondo-btn-D{
    background-image:url('/public/img/github.png');
    background-repeat:no-repeat;
    background-position:center;
    border-radius:10px;
}

.click {
    height:44px;
    width:44px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.click .tooltip {
    visibility: hidden;
    width: 120px;
    background-color:rgb(113, 113, 175);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}
.click .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
.click:hover .tooltip {
    visibility: visible;
}
