.habilidad{
    width: 90%;
    margin: 0 auto;
}

.habilidadDark{
    background-color:#1d1919;
    color: white;
}
.habilidadLight{
    background-color:rgb(220, 233, 233);
    color: black;

}

.habilidadDark .btn-div p{
    color: white;
}
.habilidadLight .btn-div p{
    color: black;

}

.h1-title{
    color:#155bdd;
}

.linea-habilidad{
    border-top: 1px solid #155bdd;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 5px auto 0 auto;
    -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}


.habilidades {
    height: 340px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}
.habilidades h1 {
    font-size: 18px;
}

.header-habilidad h1{
    text-align: left;
    width: 60%;
    margin-left: 35%;
    padding: 7px
}

.img-habilidades{
    margin-left:30px;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #6A98F0;
    border-radius: 50%;
}

.img-habilidades img{
    position: absolute; 
    width: 75px;
    right: 0; 
    left: 0; 
    margin: 10px auto;
}

.otra-habilidad{
    text-align: center;
}

.codigo-java{
    width: 90%;
    height: 160px;
    margin: 20px auto;
    padding: 10px;
}
.codigo-java ul{
    list-style: none;
    font-size: 13px;
}
.codigo-java ul span{
    font-size: 13px;
    padding-left: 5px;
  }
  .codigo-java ul .tap1{
    padding-left: 10px;
  }
  .codigo-java ul .tap2{
    padding-left: 20px;
  }
  .codigo-java ul .tap3{
    padding-left: 30px;
  }


.l-br-s {
    display: block;
    color: transparent;
}

.section-ul  {
    list-style: none;
    padding-left: 0;
}

.section-ul li {
    padding-left: 50px;
    line-height : 25px;
}
 
.section-ul li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.linea {
    border-top: 1px solid;
    height: 2px;
    max-width: 250px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.btn-div{
    width: 50%;
    margin-left: 40%;
    margin-top: -75px
}
.ver-mas {
    margin: auto;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: center;
    position: relative;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 }
  
 .ver-mas div {
    position: absolute;
    background-color: #6A98F0;
    height: 100%;
    width: 40px;
    border-radius: 25px;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 }

 .ver-mas div span {
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 4px;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 }

 .ver-mas p {
    font-family: 'Mukta', sans-serif;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 13.5px);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 }
  
 .ver-mas div span::before {
    display: block;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #fff;
    position:absolute;
    top: -3px;
    left: 13px;
    transform: rotate(45deg);
 }
  
 .ver-mas div span::after {
    display: block;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #fff;
    position:absolute;
    top: 3px;
    left: 13px;
    transform: rotate(-45deg);
 }

 .ver-mas div span::before {
    display: block;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #fff;
    position:absolute;
    top: -3px;
    left: 13px;
    transform: rotate(45deg);
 }
  
 .ver-mas div span::after {
    display: block;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #fff;
    position:absolute;
    top: 3px;
    left: 13px;
    transform: rotate(-45deg);
 }
 .ver-mas:hover div {
    width: 100%;
 }
  
 .ver-mas:hover div span {
    left:25%;
    width: 20px;
 }

 @media screen and (max-width: 768px){
    .codigo-java{
        width: 90%;
    }
    .header-habilidad h1{
        margin-left: 35%;
    }
    .btn-div{
        margin-left: 40%;
    }
 }
  
 