.habilidad{
    width: 90%;
    margin: 0 auto;
}

.habilidadDark{
    background-color:#383838;
    color: white;
}
.habilidadLight{
    background-color:rgb(220, 233, 233);
    color: black;

}

.habilidades {
    height: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}
.habilidades h1 {
    font-size: 22px;
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(104, 175, 207);
}
.habilidades:hover{
    transform: scale(1.05);
    transition-duration: 0.7s;
}

.habilidades h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-habilidades{
    width: 120px;
    height: 120px;
    margin: 5px auto;
    padding: auto;
}
.img-habilidades img{
    width: 100%;
    height: auto;
}

.l-br-s {
    display: block;
    color: transparent;
}

.section-ul  {
    list-style: none;
    padding-left: 0;
}

.section-ul li {
    padding-left: 50px;
    line-height : 25px;
}
 
.section-ul li:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.linea {
    border-top: 1px solid;
    height: 2px;
    max-width: 250px;
    padding: 0;
    margin: 20px auto 0 auto;
}