
.centrado{
    margin:10px auto;
    display:block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    border-radius: 100%;
}

.img-sobreMi{
    margin:5px auto;
    width: 400px;
    height: 450px;
    border-radius: 50%;
    border: 2px solid #6A98F0;
    mix-blend-mode: multiply;
    overflow: hidden;
}
.img-sobreMi img{
    display:block;
    max-width:100%;
    height:auto;
}



.contactDark{
    background: linear-gradient(to top, rgb(5, 5, 5), rgb(155, 148, 148));
    color:white;
}

.contactLight{
    background: linear-gradient(to top, rgb(208, 215, 235), rgb(255, 255, 255));
    color:black;
}



.content_sobremi h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contac  {
    list-style: none;
    padding-left: 0;
}
  

.l-br {
    display: block;
    color: transparent;
}
.l-br-c {
    display: block;
    color: transparent;
}

.contact-h3{
    font-size: 30px;
    color: black;
    margin-left: 25px;
    margin-bottom: 0%;
}
.quien-soy p{
    padding-top: 10px;
    text-align: justify;
}

.script_{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(1, 1, 77);
    padding: 0px;
    margin: 0px;;
}
.script_t{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    margin: 0px;
    color: rgb(0, 138, 252);
}
.script_p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 5px;
    margin: 0px;;
}
.script_p span{
    color: rgb(1, 1, 77);
}

.quien-soy {
    font-size: 18px;
}
.titulo-quien-soy{
    font-size: 14px;
}

.sobre-mi{
    width: 90%;
    margin: 0 auto;
}



.linea-c{
    border-top: 1px solid black;
    height: 2px;
    max-width: 350px;
    padding: 0;
    margin: 20px auto 0 0;
}

@media screen and (max-width: 850px) {
    .centrado{
        margin:10px auto;
        display:block;
        width: 300px;
    }
    .contac li{
        font-size: 18px;
    }
    .contac li span{
        font-size: 16px;
    }
    .contac li:before {
        left: 20px;
    }
    .contac li{
        padding-left: 45px;
        line-height : 24px;
    }

    .img-sobreMi{
        width: 350px;
        height: 400px;
    }
      
}
  
  